@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s cubic-bezier(0.4, 0, 0.2, 1) both;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollbar-show::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-show::-webkit-scrollbar-thumb {
  background-color: rgba(37, 9, 2, 0.2);
  border-radius: 4px;
}

.scrollbar-show::-webkit-scrollbar-thumb:hover {
  background-color: rgba(37, 9, 2, 0.4);
}

